# Helper function to convert number to friendly string

In [65]:
def human_readable(num):
    num = float(num)  # make sure itâ€™s numeric
    if num >= 1_000_000_000_000:   # Trillions
        return f"{num/1_000_000_000_000:.1f} T"
    elif num >= 1_000_000_000:     # Billions
        return f"{num/1_000_000_000:.1f} B"
    elif num >= 1_000_000:         # Millions
        return f"{num/1_000_000:.1f} M"
    elif num >= 1_000:             # Thousands
        return f"{num/1_000:.0f} K"
    else:
        return str(num)

In [ ]:
from pathlib import Path
import json

def write_ndjson_local(country_gw: int, year: int, page: int, rows: list, base_dir="data"):
    """
    Write a page of UCDP events to an NDJSON file under data/raw/.

    Structure:
      data/
        raw/
          country=090/
            year=1989/
              page=00001.ndjson
    """
    base = Path(base_dir) / "raw" / f"country={country_gw:03d}" / f"year={year}"
    base.mkdir(parents=True, exist_ok=True)

    path = base / f"page={page:05d}.ndjson"
    with path.open("w", encoding="utf-8") as f:
        for r in rows:
            f.write(json.dumps(r) + "\n")

    return str(path)

In [ ]:
%%sql

# Getting GDP information from WorldBank

In [85]:
import requests
import pandas as pd

BASE = "https://api.worldbank.org/v2/country/{country}/indicator/{indicator}"


COUNTRIES = ["USA", "MEX", "GBR"]
INDICATORS = {
    "NY.GDP.MKTP.CD": "gdp_usd",
    "SP.POP.TOTL": "population",
    "MS.MIL.XPND.GD.ZS": "mil_exp_pct_gdp",
    "MS.MIL.XPND.CD": "mil_exp_usd",
}

START, END = 2012, 2023

def fetch_indicator(country, start, end):
    merged = None
    for code, colname in INDICATORS.items():
        url = BASE.format(country=country, indicator=code)
        params = {"format": "json", "date": f"{start}:{end}", "per_page": 20000}
        r = requests.get(url, params=params, timeout=30)
        r.raise_for_status()
        payload = r.json()
        rows = payload[1] if isinstance(payload, list) and len(payload) > 1 else []

        df = pd.DataFrame([
            {
                "country": row["country"]["value"],
                "iso3": row["countryiso3code"],
                "year": int(row["date"]),
                colname: row["value"],
            }
            for row in rows if row.get("value") is not None
        ])

        # merge indicator onto main DataFrame
        if merged is None:
            merged = df
        else:
            merged = pd.merge(merged, df, on=["country", "iso3", "year"], how="outer")

    merged['gdp_string'] = merged['gdp_usd'].apply(human_readable)
    merged['population_string'] = merged['population'].apply(human_readable)
    return merged.sort_values("year").reset_index(drop=True)


# ---------------- RUN ----------------
frames = [fetch_indicator(c, START, END) for c in COUNTRIES]
df = pd.concat(frames).sort_values(["year"]).reset_index(drop=True)

df.head(50)
# df.to_csv("gdp_countries.csv", index=False)

,country,iso3,year,gdp_usd,population,mil_exp_pct_gdp,mil_exp_usd,gdp_string,population_string
0,United States,USA,2012,1.625397e+13,314339099,4.461710,7.252050e+11,16.3 T,314.3 M
1,Mexico,MEX,2012,1.255110e+12,116818208,0.455502,5.717036e+09,1.3 T,116.8 M
2,United Kingdom,GBR,2012,2.707090e+12,63711000,2.417817,6.545249e+10,2.7 T,63.7 M
3,Mexico,MEX,2013,1.327436e+12,118343573,0.487643,6.473144e+09,1.3 T,118.3 M
4,United Kingdom,GBR,2013,2.784854e+12,64139000,2.292320,6.383772e+10,2.8 T,64.1 M
5,United States,USA,2013,1.688068e+13,316726282,4.023706,6.792290e+11,16.9 T,316.7 M
6,United States,USA,2014,1.760814e+13,319257560,3.678918,6.477890e+11,17.6 T,319.3 M
7,Mexico,MEX,2014,1.364508e+12,119784261,0.495321,6.758694e+09,1.4 T,119.8 M
8,United Kingdom,GBR,2014,3.064708e+12,64620000,2.184485,6.699547e+10,3.1 T,64.6 M
9,United Kingdom,GBR,2015,2.927911e+12,65088000,2.048908,5.999021e+10,2.9 T,65.1 M
10,Mexico,MEX,2015,1.213294e+12,121072306,0.450743,5.468838e+09,1.2 T,121.1 M
11,United States,USA,2015,1.829502e+13,321815121,3.464493,6.338296e+11,18.3 T,321.8 M
12,United States,USA,2016,1.880491e+13,324353340,3.402602,6.398564e+11,18.8 T,324.4 M
13,Mexico,MEX,2016,1.112233e+12,122251351,0.480046,5.336876e+09,1.1 T,122.3 M
14,United Kingdom,GBR,2016,2.689107e+12,65607000,1.984491,5.332737e+10,2.7 T,65.6 M
15,United States,USA,2017,1.961210e+13,326608609,3.297724,6.467529e+11,19.6 T,326.6 M
16,United Kingdom,GBR,2017,2.680148e+12,65966000,1.950029,5.207501e+10,2.7 T,66.0 M
17,Mexico,MEX,2017,1.190721e+12,123400057,0.424849,5.062077e+09,1.2 T,123.4 M
18,United Kingdom,GBR,2018,2.871340e+12,66289000,1.944556,5.583292e+10,2.9 T,66.3 M
19,Mexico,MEX,2018,1.256300e+12,124573711,0.464612,5.839521e+09,1.3 T,124.6 M
20,United States,USA,2018,2.065652e+13,328529577,3.304001,6.824914e+11,20.7 T,328.5 M
21,United States,USA,2019,2.153998e+13,330226227,3.412158,7.343441e+11,21.5 T,330.2 M
22,Mexico,MEX,2019,1.304106e+12,125762982,0.508906,6.650808e+09,1.3 T,125.8 M
23,United Kingdom,GBR,2019,2.851407e+12,66631000,1.985254,5.656760e+10,2.9 T,66.6 M
24,Mexico,MEX,2020,1.121065e+12,126799054,0.717898,8.044881e+09,1.1 T,126.8 M
25,United States,USA,2020,2.135410e+13,331577720,3.650514,7.783972e+11,21.4 T,331.6 M
26,United Kingdom,GBR,2020,2.696778e+12,66744000,2.162216,5.833237e+10,2.7 T,66.7 M
27,United States,USA,2021,2.368117e+13,332099760,3.417094,8.062302e+11,23.7 T,332.1 M
28,United Kingdom,GBR,2021,3.143323e+12,66984000,2.073222,6.513622e+10,3.1 T,67.0 M
29,Mexico,MEX,2021,1.316569e+12,127648148,0.661420,8.680833e+09,1.3 T,127.6 M
30,Mexico,MEX,2022,1.466465e+12,128613117,0.686105,1.006527e+10,1.5 T,128.6 M
31,United States,USA,2022,2.600689e+13,334017321,3.343259,8.606922e+11,26.0 T,334.0 M
32,United Kingdom,GBR,2022,3.114042e+12,67604000,2.073926,6.408163e+10,3.1 T,67.6 M
33,United States,USA,2023,2.772071e+13,336806231,3.361836,9.160147e+11,27.7 T,336.8 M
34,Mexico,MEX,2023,1.793799e+12,129739759,0.656935,1.182591e+10,1.8 T,129.7 M
35,United Kingdom,GBR,2023,3.369862e+12,68492000,2.264879,7.494284e+10,3.4 T,68.5 M

In [48]:
# Must have columns include
from pathlib import Path
import time, json
'''
id
country_id
year
country
ged_events (This will basically count the number of incidents in a year)
ged_events_fatal (This will basically the events that ended up being fatal)
ged_deaths_best (This will show the best estimate on how many people were killed
ged_deaths_civilians (This will be the sum of all of the civilian deaths)
ged_deaths_low (This will be a sum of all of the low death estimates)
ged_deaths_high (This will be a sum of all of the high death estimates)
ged_dyads (This will be a count of all the dyad_new_id that we have)
ged_state_events (This will show the events that have 1)
ged_nonstate_events (This will show the events that have 2)
ged_onesided_events (This will show the events that have 3)
'''


from pathlib import Path
import time, json

def save_raw(df):
    """Save the raw API rows to JSONL (raw layer)."""
    raw_base = Path("data/raw/gedevents")
    raw_base.mkdir(parents=True, exist_ok=True)

    ts = int(time.time())
    raw_path = raw_base / f"all_countries_part-{ts}.jsonl"

    with open(raw_path, "w", encoding="utf-8") as f:
        for _, row in df.iterrows():
            f.write(json.dumps(row.dropna().to_dict(), ensure_ascii=False, default=str) + "\n")

    print(f"âœ… Wrote RAW JSONL to {raw_path}")


def save_processed(agg):
    """Save the aggregated country-year data to partitioned Parquet (processed layer)."""
    processed_base = Path("data/processed/gedevents")
    processed_base.mkdir(parents=True, exist_ok=True)

    ts = int(time.time())
    rows_written = 0

    for (yr, cid), part in agg.groupby(["year", "country_id"], dropna=False):
        out_dir = processed_base / f"year={int(yr)}" / f"country_id={int(cid)}"
        out_dir.mkdir(parents=True, exist_ok=True)
        out_path = out_dir / f"part-{ts}.parquet"
        part.to_parquet(out_path, index=False, engine='fastparquet')
        rows_written += len(part)

    print(f"âœ… Wrote {rows_written} rows to Parquet under {processed_base}/")

# Getting information from UCDP

In [49]:
import requests, time, json
import pandas as pd

BASE_URL = "https://ucdpapi.pcr.uu.se/api/gedevents/25.1"

GW_CODES = [645, 700, 775, 540, 666]

all_events = []

for country in GW_CODES:
    print(f"\n=== Starting retrieval for country code: {country} ===")

    url = BASE_URL

    params = {
        "Country": country,
        "StartDate": "1989-01-01",
        "EndDate": "1991-12-31",
        "pagesize": 1000
    }


    while True:
        r = requests.get(url, params=params if url == BASE_URL else None, timeout=30)
        r.raise_for_status()
        payload = r.json()

        events = payload.get("Result", [])
        all_events.extend(events)

        next_url = payload.get("NextPageUrl")
        if not next_url:
            break
        url, params = next_url, None  # NextPageUrl already includes query params
        time.sleep(0.2)               # gentle pacing

    print("\n--- Retrieval Complete ---")
    print(f"Total events retrieved: {len(all_events)}")

# Build DataFrame
df = pd.DataFrame(all_events)

# Parse dates & cast numerics safely
df["date_start"] = pd.to_datetime(df.get("date_start"), errors="coerce")
for col in ["best", "low", "high", "deaths_civilians"]:
    df[col] = pd.to_numeric(df.get(col), errors="coerce").fillna(0).astype(int)

# Aggregate to Countryâ€“Year
agg = (
    df.groupby(["country_id", "country", "year"], dropna=False)
      .agg(
          ged_events          = ("id", "count"),
          ged_events_fatal    = ("best", lambda x: (x > 0).sum()),
          ged_deaths_best     = ("best", "sum"),
          ged_deaths_low      = ("low", "sum"),
          ged_deaths_high     = ("high", "sum"),
          ged_deaths_civilians= ("deaths_civilians", "sum"),
          ged_dyads           = ("dyad_new_id", "nunique"),
          ged_state_events    = ("type_of_violence", lambda x: (x == 1).sum()),
          ged_nonstate_events = ("type_of_violence", lambda x: (x == 2).sum()),
          ged_onesided_events = ("type_of_violence", lambda x: (x == 3).sum()),
      )
      .reset_index()
      .sort_values(["country_id", "year"])
)

save_raw(df)
save_processed(agg)

# # Chronological preview of raw events
# df_sorted = df.sort_values(["year", "date_start", "id"])
# print("\nFirst 5 events chronologically:")
# print(df_sorted[["id","year","country","date_start","best","deaths_civilians"]].head(5))
#
# print("\nLast 5 events chronologically:")
# print(df_sorted[["id","year","country","date_start","best","deaths_civilians"]].tail(5))

=== Starting retrieval for country code: 645 ===

--- Retrieval Complete ---
Total events retrieved: 109

=== Starting retrieval for country code: 700 ===

--- Retrieval Complete ---
Total events retrieved: 363

=== Starting retrieval for country code: 775 ===

--- Retrieval Complete ---
Total events retrieved: 464

=== Starting retrieval for country code: 540 ===

--- Retrieval Complete ---
Total events retrieved: 924

=== Starting retrieval for country code: 666 ===

--- Retrieval Complete ---
Total events retrieved: 1056
âœ… Wrote RAW JSONL to data\raw\gedevents\all_countries_part-1756684571.jsonl
âœ… Wrote 15 rows to Parquet under data\processed\gedevents/

In [2]:
import pandas as pd
df = pd.read_parquet("data/processed/gedevents/year=1990/country_id=645/part-1756684571.parquet")
print(df.head())

   country_id country  year  ged_events  ged_events_fatal  ged_deaths_best  \
0         645    Iraq  1990           6                 3              117

   ged_deaths_low  ged_deaths_high  ged_deaths_civilians  ged_dyads  \
0             117             2259                    23          3

   ged_state_events  ged_nonstate_events  ged_onesided_events
0                 2                    0                    4